/* RESET */
*{margin: 0; padding: 0;}
body{ background-color: hsl(212, 45%, 89%);
font-family: 'Outfit', sans-serif;}
/* ------------------------------------- */


main{
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.container{
    border: solid 1px red;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-img{
    width: 90%;
    border: solid green 1px;
    margin-top: 10px;
}

.container img{
    width: 100%;
    border-radius: 15px;
 }

.texts{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
}

.texts h1{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}


.texts p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    color:hsl(220, 15%, 55%);
  }